<!DOCTYPE html>
<html class="flex">

<head>
    <title>Anonymous Message Board</title>
    <meta name="description" content="freeCodeCamp project boilerplate">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
</head>

<body>
    <header class="titles">
        <h1>Anonymous Message Board</h1>
        <p class="sub-title">This is an anonymous message board where users are able to participate in some capacity
            without providing personal information.</p>
    </header>
    <hr>
    <div id='testui' class="flex row wrap">
        <div id="post" class="block flex">
            <div id="post-thread" class="sub-block flex">
                <h3>New thread</h3>
                <div class="form-block flex">
                    <form action="/api/threads/test" method="post" id="newThread" class="flex">
                        <input type='text' placeholder='board' id='board1' name='board' required=''>
                        <textarea type='text' placeholder='Thread text...' name='text' required=''></textarea>
                        <input type='text' placeholder='password to delete' name='delete_password' required=''>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div id="post-reply" class="sub-block flex">
                <h3>New reply</h3>
                <div class="form-block flex">
                    <form action="/api/replies/test" method="post" id="newReply" class="flex">
                        <input type='text' placeholder='board' id='board4' name='board' required=''>
                        <input type='text' placeholder='thread id' name='thread_id' required=''>
                        <textarea type='text' placeholder='Thread text...' name='text' required=''></textarea>
                        <input type='text' placeholder='password to delete' name='delete_password' required=''>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div id="put" class="block flex">
            <div id="put-thread" class="sub-block flex">
                <h3>Report thread</h3>
                <div class="form-block flex">
                    <form id="reportThread" class="flex">
                        <input type='text' placeholder='board' id='board2' name='board' required=''>
                        <input type='text' placeholder='id to report' name='thread_id' required=''>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div id="put-reply" class="sub-block flex">
                <h3>Report reply</h3>
                <div class="form-block flex">
                    <form id="reportReply" class="flex">
                        <input type='text' placeholder='board' id='board5' name='board' required=''>
                        <input type='text' placeholder='thread id' name='thread_id' required=''>
                        <input type='text' placeholder='id to report' name='reply_id' required=''>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div id="delete" class="block flex">
            <div id="delete-thread" class="sub-block flex">
                <h3>Delete thread</h3>
                <div class="form-block flex">
                    <form id="deleteThread" class="flex">
                        <input type='text' placeholder='board' id='board3' name='board' required=''>
                        <input type='text' placeholder='id to delete' name='thread_id' required=''>
                        <input type='text' placeholder='password' name='delete_password' required=''>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div id="delete-reply" class="sub-block flex">
                <h3>Delete reply</h3>
                <div class="form-block flex">
                    <form id="deleteReply" class="flex">
                        <input type='text' placeholder='board' id='board6' name='board' required=''>
                        <input type='text' placeholder='thread id' name='thread_id' required=''>
                        <input type='text' placeholder='id to delete' name='reply_id' required=''>
                        <input type='text' placeholder='password' name='delete_password' required=''>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="footer">
        Created by
        <a href="https://github.com/odakris?tab=repositories" target="_blank">odakris</a>
        </p>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('#newThread').submit(function () {
                var board = $('#board1').val();
                $(this).attr('action', "/api/threads/" + board);
            });
            $('#newReply').submit(function () {
                var board = $('#board4').val();
                $(this).attr('action', "/api/replies/" + board);
            });
            $('#reportThread').submit(function (e) {
                var url = "/api/threads/" + $('#board2').val();
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: $(this).serialize(),
                    success: function (data) {
                        alert(data);
                    }
                });
                e.preventDefault();
            });
            $('#deleteThread').submit(function (e) {
                var url = "/api/threads/" + $('#board3').val();
                $.ajax({
                    type: "DELETE",
                    url: url,
                    data: $(this).serialize(),
                    success: function (data) {
                        alert(data);
                    }
                });
                e.preventDefault();
            });
            $('#reportReply').submit(function (e) {
                var url = "/api/replies/" + $('#board5').val();
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: $(this).serialize(),
                    success: function (data) {
                        alert(data);
                    }
                });
                e.preventDefault();
            });
            $('#deleteReply').submit(function (e) {
                var url = "/api/replies/" + $('#board6').val();
                $.ajax({
                    type: "DELETE",
                    url: url,
                    data: $(this).serialize(),
                    success: function (data) {
                        alert(data);
                    }
                });
                e.preventDefault();
            });
        });
    </script>
</body>

</html>